# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
procure/

text_to_sql_model/

# Ignore text files
*.txt

# Ignore JSON files
*.json

# Ignore index files
*.index

# Ignore database files
*.db